.page-intro {
  display: grid;
  border-bottom: 1px solid #eaeaea;
  @media (min-width: 560px) {
    grid-template-columns: repeat(auto-fit, minmax(47rem, 1fr));
  }

  @media (min-width: 1055px) {
    border: unset;
  }

  &__title {
    line-height: 1.1;
    letter-spacing: -0.01em;
    margin-bottom: 3rem;
    text-align: center;

    @media (min-width: 560px) {
      text-align: unset;
    }

    span {
      color: $color__brand;
    }
  }

  &__text {
    max-width: 57rem;
    text-align: center;

    p {
      margin-bottom: 1.5rem;
    }

    @media (min-width: 560px) {
      text-align: unset;
    }
  }
}
