.page-section {
  padding: 6rem 2rem;

  @media (min-width: 560px) {
    padding: 8rem 0;
  }
}

.section {
  &--pad {
    padding: 6rem 0;

    @media (min-width: 560px) {
      padding: 9rem 0;
    }
  }

  &--pad-last {
    padding: 6rem 0 12rem;

    @media (min-width: 560px) {
      padding: 9rem 0 18rem;
    }
  }
}
