//@import url('https://use.typekit.net/fbx8het.css');
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * realist:
 *   - http://typekit.com/eulas/00000000000000007735ca4f
 *   - http://typekit.com/eulas/00000000000000007735ca56
 *   - http://typekit.com/eulas/00000000000000007735ca5c
 *   - http://typekit.com/eulas/00000000000000007735ca62
 *   - http://typekit.com/eulas/00000000000000007735ca68
 *   - http://typekit.com/eulas/00000000000000007735ca71
 *   - http://typekit.com/eulas/00000000000000007735ca77
 *   - http://typekit.com/eulas/00000000000000007735ca7b
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-11-02 12:38:25 UTC"}*/

@import url('https://p.typekit.net/p.css?s=1&k=fbx8het&ht=tk&f=43815.43817.43819.43821.43823.43825.43827.43829&a=107121381&app=typekit&e=css');

@font-face {
  font-family: 'realist';
  src: url('https://use.typekit.net/af/33ff48/00000000000000007735ca4f/30/l?subset_id=2&fvd=n1&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/33ff48/00000000000000007735ca4f/30/d?subset_id=2&fvd=n1&v=3')
      format('woff'),
    url('https://use.typekit.net/af/33ff48/00000000000000007735ca4f/30/a?subset_id=2&fvd=n1&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: 'realist';
  src: url('https://use.typekit.net/af/4d2d3a/00000000000000007735ca56/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/4d2d3a/00000000000000007735ca56/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3')
      format('woff'),
    url('https://use.typekit.net/af/4d2d3a/00000000000000007735ca56/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: 'realist';
  src: url('https://use.typekit.net/af/8058f2/00000000000000007735ca5c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/8058f2/00000000000000007735ca5c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/8058f2/00000000000000007735ca5c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: 'realist';
  src: url('https://use.typekit.net/af/452920/00000000000000007735ca62/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/452920/00000000000000007735ca62/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/452920/00000000000000007735ca62/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'realist';
  src: url('https://use.typekit.net/af/a9d5ed/00000000000000007735ca68/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/a9d5ed/00000000000000007735ca68/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
      format('woff'),
    url('https://use.typekit.net/af/a9d5ed/00000000000000007735ca68/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: 'realist';
  src: url('https://use.typekit.net/af/95c264/00000000000000007735ca71/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/95c264/00000000000000007735ca71/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/95c264/00000000000000007735ca71/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'realist';
  src: url('https://use.typekit.net/af/952021/00000000000000007735ca77/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/952021/00000000000000007735ca77/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('woff'),
    url('https://use.typekit.net/af/952021/00000000000000007735ca77/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

@font-face {
  font-family: 'realist';
  src: url('https://use.typekit.net/af/92a337/00000000000000007735ca7b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/92a337/00000000000000007735ca7b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('woff'),
    url('https://use.typekit.net/af/92a337/00000000000000007735ca7b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

.tk-realist {
  font-family: 'realist', sans-serif;
}

body,
button,
input,
select,
optgroup,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  color: $color__text-main;
  font-family: $font__main;
  font-size: 1.6rem;
  line-height: $font__line-height-body;
  font-weight: 300;
}

@import 'headings';
@import 'copy';
